
.pd_tb_10 {
    padding: 10px 0!important;
}
.mgn_lr_10 {
    margin: 0 10px;
}
.mgn_top_0 {
    margin-top: 0px !important;
}
.align_left {
    text-align: left;
}
.align_right {
    text-align: right;
}
.align_center {
    text-align: center;
}
.right {
    float: right;
}
.left {
    float: left;
}
